<div class="container">
	<div *ngIf="SchoolDetail == null">
		<img src="https://bocatvangtravel.com.vn/images/load.gif" width="1000">
</div>
		<header class="d-flex mb-3 pt-5 justify-content-between">
			<h2 class="text-center"> Chi tiết trường </h2>

		</header>
		<div *ngIf="SchoolDetail != null">
			<div class="row">
				<div class="col-lg-6 text-center">
					<img class="img-fluid rounded mb-4" [src]="SchoolDetail.logo" width="300">
      </div>
					<div class="col-lg-6">
						<h2>{{SchoolDetail.name}}</h2>
						<p><strong>Hiệu Trưởng :</strong> {{SchoolDetail.president}} </p>
						<p><strong>Giới Thiệu :</strong> {{SchoolDetail.about}} </p>
						<p><strong>Địa chỉ :</strong> {{SchoolDetail.address}} , {{SchoolDetail.province}}</p>

					</div>
				</div>
				<div class="container">
					<header class="d-flex mb-3 pt-5 justify-content-between">
						<h2 class="text-center"> Danh sách lớp </h2>
						<button [routerLink]="['edit-class']" class="btn btn-success">Add Class</button>
					</header>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Tên lớp</th>
								<th scope="col">Số Phòng</th>
								<th scope="col">Tổng sinh viên</th>
								<th scope="col">Giáo Viên</th>
								<th scope="col" class="text-center">Hành động</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let class of classs">
								<td>{{class.name}}</td>
								<td>{{class.room_number}}</td>
								<td>{{class.total_student}}</td>
								<td><img class="text-center" [src]='class.main_teacher' width="70"> </td>
								<td class="text-center">
									<a [routerLink]="['edit-class',class.id]" class="btn btn-primary">Sửa</a>
									<button type="button" (click)="removeClass(class.id)" name="" id="" class="btn btn-danger ">Xóa</button>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>