<div class="container">
	<header class="d-flex mb-3 pt-5 justify-content-between">
		<h2 class="text-center"> Danh Sách Trường </h2>
		<button routerLink="edit-school" class="btn btn-success">Add School</button>
	</header>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th class="text-center" scope="col">LOGO</th>
				<th scope="col">PRESIDENT</th>
				<th scope="col">ADDRESS</th>
				<th scope="col">PROVINCE</th>
				<th class="text-center" scope="col">ACTION</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let school of schools">
				<th>{{school.id}}</th>
				<td>{{school.name}}</td>
				<td><img [src]='school.logo' width="100"></td>
				<td>{{school.president}}</td>
				<td>{{school.address}}</td>
				<td>{{school.province}}</td>
				<td class="d-flex justify-content-between">
					<a [routerLink]="['./edit-school',school.id]" class="btn btn-primary">Sửa</a>
					<a [routerLink]="['detail-school',school.id]" class="btn btn-success">Chi Tiết</a>
					<button type="button" (click)="removeSchool(school.id)" name="" id="" class="btn btn-danger ">Xóa</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>